<!doctype html>
<html lang="en" ng-app="xlSpaceshipApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XL Spaceship</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/xl-spaceship.css" rel="stylesheet">
    <style type="text/css">
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body ng-cloak class="ng-cloak">
    <div class="container">
        <h1 class="col-sm-10 boards">XL Spaceship</h1>
        <div class="row" ng-controller="XlSpaceshipController as xlSpaceship">
            <div class="row">
                <div class="col-sm-10 boards">
                    <div class="col-md-6 player-board">
                        <h3 class="board-title">Own Board</h3>
                        <div class="grid">
                            <div class="board-row">
                                <span class="quadrant board-index">&nbsp;</span>
                                <div class="board-quadrant" ng-repeat="quadrant in xlSpaceship.gameStatus.self.board[0] track by $index">
                                    <span class="quadrant board-index">{{hexValue($index)}}</span>
                                </div>
                            </div>
                            <div class="board-row" ng-repeat="row in xlSpaceship.gameStatus.self.board track by $index">
                                <span class="quadrant board-index">{{hexValue($index)}}</span>
                                <div class="board-quadrant" ng-repeat="quadrant in row track by $index">
                                    <span class="quadrant" ng-style="{ 'background-color' : quadrantColor(quadrant) }">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 player-board">
                        <h3 class="board-title">Opponent's Board ({{xlSpaceship.gameStatus.opponent.user_id}})</h3>
                        <div class="grid">
                            <div class="board-row">
                                <span class="quadrant board-index">&nbsp;</span>
                                <div class="board-quadrant" ng-repeat="quadrant in xlSpaceship.gameStatus.opponent.board[0] track by $index">
                                    <span class="quadrant board-index">{{hexValue($index)}}</span>
                                </div>
                            </div>
                            <div class="board-row" ng-repeat="row in xlSpaceship.gameStatus.opponent.board track by $index">
                                <span class="quadrant board-index">{{hexValue($index)}}</span>
                                <div class="board-quadrant" ng-repeat="quadrant in row track by $index">
                                    <span class="quadrant" id={{hexValue($parent.$index)}}x{{hexValue($index)}} data-toggle="tooltip" title="{{quadrantTooltip(quadrant, $parent.$index, $index)}}" ng-style="{ 'background-color' : quadrantColor(quadrant) }" ng-click="addShotToSalvo(quadrant, $parent.$index, $index)">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 game-control">
                    <h3 class="board-title">Game Control</h3>
                    <div class="game-list">
                        <div ng-show="!showNewGameForm">
                            <button type="submit" class="btn btn-success btn-game" ng-click="showNewGameForm = true"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Request New Game</button>
                            <div class="game-item" ng-repeat="game in xlSpaceship.gameList">
                                <button type="button" class="btn btn-info btn-game" ng-click="loadGame(game.game_id)">
                                    <span class="glyphicon {{game.icon}}" aria-hidden="true"></span>{{game.game_id}}
                                </button>
                            </div>
                        </div>
                        <div ng-show="showNewGameForm">
                            <form name="newGameForm">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" id="newGameHost" ng-model="newGameRequest.spaceship_protocol.hostname" placeholder="Opponent's Host" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" id="newGamePort" ng-model="newGameRequest.spaceship_protocol.port" placeholder="Opponent's Port" required>
                                </div>
                                <div class="form-group">
                                    <select name="newGameRules" id="newGameRules" ng-model="newGameRequest.rules">
                                        <option ng-repeat="option in newGameRulesSelect" value="{{option}}">{{option}}</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="cancelRequestNewGame()">Cancel</button>
                                <button type="submit" ng-disabled="newGameForm.$invalid" class="btn btn-success btn-sm" ng-click="requestNewGame()">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="game-info">
                        <p>{{xlSpaceship.gameId}}</p>
                        <p>Opponent: {{xlSpaceship.gameStatus.opponent.user_id}}</p>
                        <div ng-show="!xlSpaceship.gameStatus.game.won">
                            <p>Turn: {{xlSpaceship.gameStatus.game.player_turn}}</p>
                            <p>Rules: {{xlSpaceship.gameStatus.game.rules}}</p>
                        </div>
                        <div class="game-won" ng-show="xlSpaceship.gameStatus.game.won">
                            <p>GAME OVER!</p>
                            <p>{{xlSpaceship.gameStatus.game.won}} won the game</p>
                        </div>
                    </div>
                    <div class="game-turn">
                        <div ng-show="!xlSpaceship.gameStatus.game.autopilot_active">
                            <p>Shots Avilable: {{shotsAvailable()}}</p>
                            <p ng-show="salvo.length > 0">Salvo: {{salvo}}</p>
                            <p ng-show="xlSpaceship.salvoResponse.salvo">Salvo Response: {{xlSpaceship.salvoResponse.salvo}}</p>
                        </div>
                        <div ng-show="xlSpaceship.gameStatus.game.autopilot_active">AUTOPILOT IS ACTIVE</div>
                        <div class="btn-fire">
                            <button type="button" class="btn btn-danger btn-sm" ng-disabled="!canFire()" ng-click="fireSalvo()"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Fire!</button>
                            <button type="button" class="btn btn-warning btn-sm" ng-disabled="!canActivateAutopilot()" ng-click="setAutopilot()"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Autopilot</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <script src="js/xl-spaceship.js"></script>
    <!-- End scripts -->
</body>

</html>
