H1,
H3 {
    text-align: center;
}

.boards {
    padding: 0;
}

.player-board {
    padding: 0;
}

.grid {
    background-color: #282828;
    display: block;
    margin: auto;
    width: 379px;
    /*width: 412px*/
}

.board-row {
    position: relative;
}

.board-quadrant {
    display: inline-block;
}

.quadrant[data-selected=true] {
    border-radius: 25px;
    background-color: orange;
}

.quadrant {
    background-color: #282828;
    border: 1px solid gray;
    color: lightgray;
    display: inline-block;
    height: 22px;
    width: 22px;
    padding-top: 2px;
    padding-left: 7px;
}

.board-index {
    font-weight: bold;
}

.game-control {
    padding: 0px;
}

.game-list,
.game-info,
.game-turn {
    border: 2px solid DodgerBlue;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
}

.game-list {
    height: 150px;
    overflow-y: scroll;
}

.game-item {
    margin-bottom: 2px;
}

.btn-game {
    text-align: left;
    width: 100%;
}

.game-info {
    height: 93px;
}

.game-info p {
    margin: 0px;
}

.game-won {
    text-align: center;
}

.game-won p {
    margin: 0px;
}

.btn-game span {
    margin-right: 10px;
}

.game-turn {
    height: 145px;
    word-wrap: break-word;
}

.btn-fire {
    display: inline-flex;
    position: absolute;
    bottom: 6px;
    width: 100%;
}

.btn-fire button {
    display: block;
    margin: auto;
}
